{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}




{% block content %}
<div class='col-sm-7 col-sm-offset-1'>
	<h1>{{ title }} <small>{{ instance.publish }}</small></h1>
	
	{% if instance.user.get_full_name %}
		<p>Author: {{ instance.user.get_full_name }}</p>
	{% endif %}

	{% if staff == "yes" %} 
        <a href='{{ instance.get_delete_url }}'>Delete</a> |
        <a href='{{ instance.get_update_url }}'>Edit</a>
    {% endif %}

	<div class='row'>
		<div class='col-sm-12'>
			{{ instance.get_markdown }}
		<hr/>
		{% if instance.image %}
	    	<img src='{{ instance.image.url }}' />
		{% endif %}

		<br/>

		</div>
	</div>
	<p><br></p>
		<div class="share_buttons">
			<div class="fb-share-button" data-href=post_urls data-layout="button_count" data-size="small" data-mobile-iframe="true">
				<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a>
			</div>
			<br>
			<div>	
				<script type="text/javascript">
					document.write(VK.Share.button(false,{type: "round", text: "Поделиться"}));
				</script>
			</div>
		</div>
		
    <hr/>
    <br/>

    <div>
        <p class='lead'>
			{{ comments.count }} Comment{% if comments.count > 1 or comments.count == 0 %}s{% endif %}
        </p>
        <hr/>

        {% for comment in comments %}
			<blockquote>
				<a href="{{ comment.get_profile }}">{{ comment.user }}</a>
 		        <p>{{ comment.content }}</p>
		        <div class="small-details">
			        {{ comment.timestamp|timesince }} ago |
			        <a class='comment-reply-btn' href='#'>
			        	Reply
			        </a>

			        {% if request.user == comment.user %} | <a href='{{ comment.get_delete_url }}'>Delete</a>{% endif %}
		        </div>
		        <div class='comment-reply'>  
		        	<form method="POST" action="."> {% csrf_token %}
		                {{ comment_form }}
		                <br><br>
		                <input type='hidden' name='parent_id' value='{{ comment.id }}'>
		                <input type='submit' value='Reply' class='btn btn-info'>
		            </form>
		        </div>

		        {% for child_comment in comment.children %}
		                <blockquote>
			                <a href="{{ child_comment.get_profile }}">{{ child_comment.user }}</a>
			                <p>{{ child_comment.content }}</p>
			                <div class="small-details">{{ child_comment.timestamp|timesince }} ago
				                <a class='comment-children-reply-btn' href='#'>
				        			Reply
				        		</a>
			                	{% if request.user == child_comment.user %} 
                    		      | <a href='{{ child_comment.get_delete_url }}'>Delete</a>
                        		{% endif %}
			                </div>
			                <div class='comment-reply'>  
					        	<form method="POST" action="."> {% csrf_token %}
					                {{ comment_form }}
					                <br><br>
					                <input type='hidden' name='parent_id' value='{{ comment.id }}'>
					                <input type='submit' value='Reply' class='btn btn-info'>
					            </form>
		        			</div>		                
		                </blockquote>
		        {% endfor %}


	        </blockquote>

	         <hr/>

        {% endfor %}
        <form class="comment_form" method="POST" action='' enctype='multipart/form-data'> {% csrf_token %}
            {{ comment_form }}
            <br><br>
            <input type='submit' class='btn btn-info' value='Post comment' >
        </form>
        <br><br><br><br>
    </div>

</div>






{% endblock content %}