{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}


{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}



{% block content %}
{{ object }}



<div class='col-sm-6 col-sm-offset-3'>

            <h4>{{ problem.title }}</h4>
            Author: <a href="{{ problem.get_profile }}">{{ problem.user }}</a>
            
            <p>{{ problem.content }}</p>
            <div class="small-details">
              {{ problem.timestamp|timesince }} ago 

              {% if request.user == problem.user %} | <a href='{{ problem.get_delete_url }}'>Delete</a>{% endif %}
            </div>
            
        <hr/>
</div>


{% endblock content %}