{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}


{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}



{% block content %}
{{ object }}



<div class='col-sm-12 col-sm-offset-1'>
		<a class="btn btn-default" href="{{ problem.content_object.get_absolute_url }}">
			<i class="fas fa-chevron-circle-left"></i> List of problems 
		</a>
            <h4>{{ problem.title }}</h4> 

            {% if check_problem.solved == False %}
                <h4>Not solved</h4>
            {% else %}
                <h4>Solved</h4>
            {% endif %}
            
            Author: <a href="{{ problem.get_profile }}">{{ problem.user }}</a>

            <p>{{ problem.content }}</p>
            <div class="small-details">
            
              {% if request.user == problem.user %}<a href='{{ problem.get_delete_url }}'>Delete</a>{% endif %}
            </div>
        <hr/>
        <br><br><br><br>
</div>


{% endblock content %}