{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ user }} | {{ block.super }}
{% endblock head_title %}


{% block head_extra %} 
	{{ form.media }}
{% endblock head_extra %}


{% block content %}
	<div class="col-sm-4 col-sm-offset-1">
		<h3>{{ hisprofile.user }} </h3>
		<h4>{{ status }} </h4>
		<br>
	
		{% if hisprofile.image %}
			<img src={{ hisprofile.image.url }}>
		{% endif %}
		<br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
	<div class="col-sm-4 ">
			<br><br>
			<strong >Rating: {{ rating }}</strong>
			<br><br>	
			{% if user == hisprofile.user %}
				<div>
					<form method='POST' action='' enctype="multipart/form-data">{% csrf_token %}
						{{ form|crispy }}
						<br>
						<input type='submit' class='btn btn-primary' value='Save' />
					</form>
				</div>
			{% else %}
				<strong>School: {{ school }}</strong>
				 <br><br>
				<strong>Birthday: {{ birthday }}</strong>

			{% endif %}

	</div>
	
{% endblock content %}